h1 {
    font-size: 3rem;
    text-align: center;
}

.cat {
   background-image: url(../Images/cat.jpg);
   /* background-position: center; */
   background-size: 200px;
   background-repeat: repeat-x;
   padding: 100px; 
}